<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FaceApp</title>
    <script defer src="face-api.js"></script>
    <script defer src="script.js"></script>
</head>
<style>
    body{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;    
        flex-direction:column;
    }
    canvas{
       position:absolute; 
    }
</style>
<body>
<!--   <video id="video" width="720 " height="560" autoplay muted></video> -->
<input type="file" id="imgUpload">
</body>
</html>